.lesson-container {
  padding: 50px;
}

.lesson-container .lesson-header {
}

.lesson-container .lesson-content {
  padding-top: 30px;
  display: flex;
}

.lesson-container .lesson-content .lesson-content-detail {
  width: 50%;
  padding: 0 20px;
}

.lesson-container .lesson-content .lesson-logo-container {
  width: 50%;
  padding: 0 20px;
}

.lesson-container .lesson-content .lesson-logo-container .logo-container {
  text-align: center;
}

.lesson-container .lesson-content .lesson-logo-container .logo-container .lesson-logo {
  background-size: contain;
  overflow: hidden;
  width: 200px;
  height: 200px;
  margin: auto;
  margin-bottom: 50px;
}

.lesson-container .lesson-intro-text-container {
  padding: 0 20px;
}

.lesson-action-container {
  text-align: right;
  margin-top: 20px;
}

.lesson-action-container .btn-add {
  background-color: #a8e4d8 !important;
  margin: 0 5px !important;
}

.lesson-action-container .btn-delete {
  color: red !important;
  background-color: #a8e4d8 !important;
  margin: 0 5px !important;
}

.btn-add-exercise {
  margin-top: 30px !important;
  background-color: #a8e4d8 !important;
}

input[type="file"] {
  display: none;
}
.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}
